<% if user_signed_in? %>
  <h1>To Do List</h1>
  <% @items.each do |item| %>
    <h2><%= item.title %></h2>
    <p><%= item.description %></p>
    <p><%= link_to "Mark as Complete", complete_item_path(item), method: :patch %></p>
    <p><%= link_to 'Edit', edit_item_path(item) %></p>
    <p><%= link_to "Delete", item_path(item), method: :delete, data: { confirm: "Are you sure?" } %></p>
  <% end %>
  <br/>
  <%= link_to "New Item", new_item_path %>
  <% else %>
    <%= render 'layouts/static_landing_page' %>
<% end %>
